<footer class="text-center text-white bg-dark" >
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="assets/Images/f1.jpg"
                class="w-100 edit"
                style="width: 20rem;height: 15rem;"
              />
              <a routerLink="men">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="assets/Images/f2.jpg"
                class="w-100 edit"
                style="width: 20rem;height: 15rem;"
              />
              <a routerLink="Accessory">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="assets/Images/f3.png"
                class="w-100 edit"
                style="width: 20rem;height: 15rem;"
              />
              <a routerLink="women">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
            <a routerLink="men">
                <img
                  src="assets/Images/f4.jpg"
                  class="w-100 edit"
                  style="width: 20rem;height: 15rem;"
                />
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="assets/Images/f5.jpg"
                class="w-100 edit"
                style="width: 20rem;height: 15rem;"
              />
              <a routerLink="women">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="assets/Images/f6.webp"
                class="w-100 edit"
                style="width: 20rem;height: 15rem;"
              />
              <a routerLink="women">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <hr>
    <div class="text-center p-3" >
      © 2022 Copyright:
      <a class="text-white" routerLink="home">Shopping</a>
    </div>
    <!-- Copyright -->
  </footer>